header {
  margin: 1.5rem 1.5rem 2.0625rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1280px;
}
@media (min-width: 1280px) {
  header {
    margin: 1.5rem auto 4.5625rem;
  }
}

header .logo {
  height: 24px;
}

header nav {
  display: flex;
}

header nav button {
  background-color: #fec483;
  height: 36px;
  width: 110px;
}
header nav button.contact-us {
  display: none;
}
@media (min-width: 1280px) {
  header nav button {
    height: 48px;
    width: 145px;
  }
  header nav button.menu {
    display: none;
  }
  header nav button.contact-us {
    display: block;
  }
}

header nav ul {
  display: none;
}
@media (min-width: 1280px) {
  header nav ul {
    list-style-type: none;
    display: flex;
    gap: 2rem;
    align-items: center;
    margin: 0 2.875rem;
  }
  header nav ul li a {
    color: #ffffff;
    text-decoration: none;
  }
}
