.app .background-box {
  background-color: #333333;
  max-height: 506px;
  width: calc(100% - 3rem);
  position: absolute;
  top: 121px;
  right: 0;
  z-index: -1;
  aspect-ratio: 20 / 11;
  transition: all 200ms ease;
}
@media (min-width: 1280px) {
  .app .background-box {
    top: 0;
    height: 600px;
    width: 48.8%;
  }
}

main {
  margin: 0 1.5rem;
  max-width: 1280px;
}
@media (min-width: 1280px) {
  main {
    margin: 0 auto;
  }
}

main .carousel-top {
  display: block; /* bug: image inside will disappear when set to flex */
  margin-bottom: 3.75rem;
}

main .carousel-number {
  display: none;
  /* transform: rotate(-90deg); *//* does not work with the flex bug */
}
@media (min-width: 1280px) {
  main .carousel-number {
    display: block;
  }
}

main ul.carousel-slides {
  position: relative;
  height: 100%;
  max-height: 506px;
  list-style-type: none;
  padding: 0;
}

main .carousel-nav {
  display: none;
  list-style-type: none;
  padding: 0;
  margin: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  /* added background color to see the dots on dark background so I could continue */
  background-color: #333333;
  /* instead of debuging why the image disappear when parent has display: flex; */
}
@media (min-width: 1280px) {
  main .carousel-nav {
    display: flex;
  }
}

main .carousel-nav li > button {
  all: unset;
  cursor: pointer;
  border-radius: 50%;
  height: 2em;
  width: 2rem;
  margin: 5px;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
}

main .carousel-nav li > button:focus-visible {
  background-color: hsla(0, 0%, 97%, 0.33);
}

main .carousel-nav li > button > span {
  background: #f8f8f8;
  display: inline-block;
  border-radius: 50%;
  height: 0.375rem;
  width: 0.375rem;
}

main .carousel-nav li > button[aria-current='true'] > span {
  background: #fec483;
  height: 0.625rem;
  width: 0.625rem;
}

main ul.carousel-slides li {
  opacity: 1;
  list-style-type: none;
  transition: opacity 200ms ease;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  aspect-ratio: 20 / 11;
  max-height: 506px;
}

main .carousel-bottom {
  display: block;
}
@media (min-width: 1280px) {
  main .carousel-bottom {
    display: flex;
    justify-content: space-between;
  }
}

@media (min-width: 1280px) {
  main .carousel-paragraph {
    width: 40%;
  }
}

main h2 {
  margin-bottom: 1.625rem;
}

main .carousel-progress-bar {
  background-color: #1a1a1f;
  height: 1px;
  margin-bottom: 2rem;
}
